<div class="main-content">
    <div class="container-fluid">
        <mat-tab-group class="m-3">
            <mat-tab label="Produto">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Identificação do produto</h4>
                        <p class="card-category">Aqui, você preenche as informações fundamentais do produto, que serão usadas para identificação eficiente. 
                            Garanta que seu produto seja facilmente reconhecido ao preencher detalhes essenciais que contribuirão para uma gestão eficaz do 
                            seu inventário e uma experiência mais completa para seus clientes.</p>
                    </div>
                    <div class="card-body m-3 mt-5 p-4">
                        <mat-grid-list cols="5" rowHeight="90px">
                            <mat-grid-tile [colspan]="1" [rowspan]="3">
                                <div class="product-image-container">
                                    <mat-icon class="material-icons product-icon">photo</mat-icon>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="4" [rowspan]="1">
                                <input type="text" value="" placeholder="Nome do produto" class="form-control" />
                            </mat-grid-tile>

                            <mat-grid-tile [colspan]="4" [rowspan]="1">
                                <mat-form-field class="w-100 mt-4" appearance="fill">
                                    <mat-label>Categoria</mat-label>
                                    <mat-chip-list #chipList aria-label="Seleção de categoria">
                                        <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                                            [removable]="removable" (removed)="remove(fruit)">
                                            {{fruit}}
                                            <button matChipRemove *ngIf="removable">
                                                <mat-icon>cancel</mat-icon>
                                            </button>
                                        </mat-chip>
                                        <input placeholder="Categoria da sua loja" #fruitInput [formControl]="fruitCtrl"
                                            [matAutocomplete]="auto" [matChipInputFor]="chipList"
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                            (matChipInputTokenEnd)="add($event)">
                                    </mat-chip-list>
                                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                        <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                                            {{fruit}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="4" [rowspan]="1" class="radio-grid-tile">
                                <mat-radio-group aria-labelledby="radio-group-label" [(ngModel)]="favoriteSeason"
                                    class="radio-group w-100">
                                    <mat-radio-button *ngFor="let season of seasons" [value]="season"
                                        class="radio-button">
                                        {{season}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Descrição">

            </mat-tab>
            <mat-tab label="Variações"></mat-tab>
            <mat-tab label="Preços">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Preços</h4>
                        <p class="card-category">
                            Aqui, você pode inserir o preço de compra do seu produto do fornecedor,
                            definir o preço de venda na sua loja e visualizar o seu lucro real. Tenha controle total sobre
                            os custos e ganhos do seu negócio, tornando a gestão de preços mais fácil e eficiente.</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" mat-table [dataSource]="dataSource">

                                <ng-container matColumnDef="active">
                                    <th class="text-primary" mat-header-cell *matHeaderCellDef> Ativo </th>
                                    <td mat-cell *matCellDef="let element">
                                        <mat-checkbox color="primary"></mat-checkbox>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="variation">
                                    <th class="p-2 text-primary" mat-header-cell *matHeaderCellDef> Variação </th>
                                    <td class="p-2" mat-cell *matCellDef="let element"> {{element.variation}} </td>
                                </ng-container>

                                <ng-container matColumnDef="originalPrice">
                                    <th class="text-center p-2 text-primary" mat-header-cell *matHeaderCellDef> Preço
                                        original </th>
                                    <td class="text-center p-2" mat-cell *matCellDef="let element">
                                        <mat-form-field class="w-75">
                                            <mat-label>Valor do preço</mat-label>
                                            <input matInput type="text" currencyFormat class="form-control"
                                                [(ngModel)]="element.originalPrice"
                                                (ngModelChange)="updateTotalTost(element); updateRealProfit(element)">

                                            <button *ngIf="element.originalPrice" matSuffix mat-icon-button
                                                aria-label="Clear"
                                                (click)="element.originalPrice=''; updateTotalTost(element); updateRealProfit(element)">
                                                <mat-icon>close</mat-icon>
                                            </button>

                                        </mat-form-field>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="shippingPrice">
                                    <th class="text-center p-2 text-primary" mat-header-cell *matHeaderCellDef> Preço
                                        frete </th>
                                    <td class="text-center p-2" mat-cell *matCellDef="let element">
                                        <mat-form-field class="w-75">
                                            <mat-label>Valor do frete</mat-label>
                                            <input matInput type="text" currencyFormat
                                                [(ngModel)]="element.shippingPrice"
                                                (ngModelChange)="updateTotalTost(element); updateRealProfit(element)">

                                            <button *ngIf="element.shippingPrice" matSuffix mat-icon-button
                                                aria-label="Clear"
                                                (click)="element.shippingPrice=''; updateTotalTost(element); updateRealProfit(element)">
                                                <mat-icon>close</mat-icon>
                                            </button>

                                        </mat-form-field>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="totalTost">
                                    <th class="text-center p-2 text-primary" mat-header-cell *matHeaderCellDef> Custo
                                        total </th>
                                    <td class="text-center p-2 w-25" mat-cell *matCellDef="let element">
                                        {{element.totalTost |
                                        currencyFormat }} </td>
                                </ng-container>

                                <ng-container matColumnDef="price">
                                    <th class="text-center p-2 text-primary" mat-header-cell *matHeaderCellDef> Preço
                                    </th>
                                    <td class="text-center p-2" mat-cell *matCellDef="let element">
                                        <mat-form-field class="w-75">
                                            <mat-label>Preço em sua loja</mat-label>
                                            <input matInput type="text" currencyFormat [(ngModel)]="element.price"
                                                (ngModelChange)="updateRealProfit(element)">

                                            <button *ngIf="element.price" matSuffix mat-icon-button aria-label="Clear"
                                                (click)="element.price=''; updateRealProfit(element)">
                                                <mat-icon>close</mat-icon>
                                            </button>

                                        </mat-form-field>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="promotional">
                                    <th class="text-center p-2 text-primary" mat-header-cell *matHeaderCellDef>
                                        Promocional </th>
                                    <td class="text-center p-2" mat-cell *matCellDef="let element">
                                        <mat-form-field class="w-75">
                                            <mat-label>Promoção em sua loja</mat-label>
                                            <input matInput type="text" currencyFormat [(ngModel)]="element.promotional"
                                                (ngModelChange)="updateRealProfit(element)">

                                            <button *ngIf="element.promotional" matSuffix mat-icon-button
                                                aria-label="Clear"
                                                (click)="element.promotional=''; updateRealProfit(element)">
                                                <mat-icon>close</mat-icon>
                                            </button>

                                        </mat-form-field>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="realProfit">
                                    <th class="text-center p-2 text-primary" mat-header-cell *matHeaderCellDef> Lucro
                                        real </th>
                                    <td class="text-center p-2 w-25" mat-cell *matCellDef="let element"
                                        [ngClass]="{'text-danger': !colorRealProfit(element), 'text-success': colorRealProfit(element) }">
                                        {{element.realProfit}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>

                            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                                aria-label="Número de produtos por página">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Fotos"></mat-tab>
        </mat-tab-group>
    </div>
</div>