table {
  width: 100%;
}

.success {
  color: var(--bs-form-valid-color);
}

.error {
  color: var(--bs-form-invalid-color);
}

.mat-tab-group {
  margin-bottom: 48px;
}

.example-chip-list {
  width: 100%;
}