<!-- menu.component.html -->
<mat-drawer-container class="drawer-container" [class.drawer-expanded]="isExpanded" autosize>
  <mat-drawer  #drawer  mode="side" [opened]="isExpanded | async">
    <div class="p-3">
      <h3>Informações</h3>
      <mat-list [vertical]="true">
        <mat-list-item>
          <a matListItemTitle (click)="navigateTo('')">Página inicial</a>
        </mat-list-item>
        <mat-list-item>Dashboard</mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>

      <h3 class="pt-2">Produto</h3>
      <mat-list [vertical]="true">
        <mat-list-item>
          <span matListItemTitle>Importar produtos</span>
        </mat-list-item>
        <mat-list-item>
          <a matListItemTitle (click)="navigateTo('produtos/editar')">Meus produtos</a>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
  </div>
  </mat-drawer>

  <mat-drawer-content>
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
